* {
	/* outline: 1px dashed red; */
}

body {
	margin: 0;
	font: 1em Arial, sans-serif;
}

header, section, footer {
	
	min-height: 100vh;
	
}


header, nav, section, footer {
	padding: 0px 45px;
}
header {
	
	background: url(shjcsOutside.jpg) no-repeat;
	background-attachment: fixed;
 background-size: cover;
	background-position: 0% 0%;
	
}
header div {
	position: -webkit-sticky;
	position: sticky;
	top: 40px;
	font-size: 1.1em;
	color: white;
	text-shadow: 5px 5px 12px black;
}
header p {
	font-weight: bold;
	/* color: #4060A8; */
}
nav, nav ul, section {
	overflow: hidden;
}
nav {
	height: 33px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: #f3f3f3;
	box-shadow: 5px 5px 10px;
 display: flex;
	justify-content: space-between; 
	align-items: center;
}
nav ul {
	width: 100%;
	border: 1px solid #e7e7e7;
 list-style-type: none;
}
nav li {
	float: left;
	border-right: 1px solid #BBB;
}
nav li:last-child {
	border-right: none;
}
nav li a {
 padding: 8px;
 display: block;
 color: #666;
 text-align: center;
 text-decoration: none;
}
nav li a:hover:not(.active) {
 background: #ddd;
}
nav li a.active {
	background: rgb(228, 132, 132);
	color: white;
}
section, footer {
 min-height: 575px;
}
section {
	padding: 35px 40px;
}
section hr {
 margin: 38px 0px 0px 0px;
}

img {
	width: 100%;
	height: auto;
	box-shadow: 5px 5px 12px black;
}
p {
	text-align: justify;
}

/* .academic { */
	/* text-align: center; */
/* } */
.box1 {
	/* flex-grow: 2; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-container {
	width: 100%;
	height: auto;
	margin: 8px 0px;
	display: flex;
}
.flex-container div {
	flex-grow: 1;
	padding: 10px;
	text-align: center;
}
.img-div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-div img {
	width: 80%;
	height: auto;
}
.mission-vision {
	margin: 8px 8px;
	width: 100%; 
	box-shadow: 5px 5px 10px black;
	border: 8px inset brown;
	background: url(jesus.jpeg) no-repeat;
	background-size: cover;
	/* filter: blur(8px); */
}
.mission-vision h3 {
	text-align: center;
}
.transparentWhite {
	background: rgba(255, 255, 255, 0.8);
}


/* #mission { */
	/* width: 20%; */
/* } */
#schoolName {
	/* text-shadow: 3px 3px 10px #E8B0A8; */
	font-size: 1.8em;
	color: #E8B0A8;
}
/* #vision { */
	/* width: 20%; */
/* } */